_target_: src.models.predictive_model.PredictiveModel

eo_encoder:
  _target_: src.models.components.eo_encoders.geoclip.GeoClipEncoder

prediction_head:
  _target_: src.models.components.pred_heads.linear_pred_head.LinearPredictionHead

freezing_strategy: [eo_encoder]

optimizer:
  _target_: torch.optim.Adam
  _partial_: true
  lr: 0.001
  weight_decay: 0.0

scheduler:
  _target_: torch.optim.lr_scheduler.ReduceLROnPlateau
  _partial_: true
  mode: min
  factor: 0.1
  patience: 10

loss_fn:
  _target_: src.models.components.loss_fns.bce_loss.BCELoss